{% extends 'base.html' %}

{% block MainBlock %} 

<section class="main">
  <h1 class="title" data-aos="fade-up" data-aos-delay="600">
    Про проект FinDetect
  </h1>
</section>
<section class="features">
  <p class="description-other" data-aos="fade-up" data-aos-delay="1000">
    <br>
    <br>
    Проект реализован студентами Казанского Федерального Университета. FinDetect новейший сервис про анализу, отслеживанию и проверки финансовых сервисов на территории Российской Федерации.  
    <br>
    <br>
    Адрес: ул. Кремлевская, 18, Казань, Респ. Татарстан, 420008 
    Телефон: 8 (843) 233-71-09
  </p>
</section>


{% endblock %}