{% extends 'base.html' %}

{% block MainBlock %} 

<section class="main">
  <h1 class="title" data-aos="fade-up" data-aos-delay="600">
    Policy
  </h1>
</section>
<section class="features">
  <p class="description-other" data-aos="fade-up" data-aos-delay="1000">
    <br>
     <h4>1. СОБЛЮДЕНИЕ ПРАВ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ; ТОВАРНЫЙ ЗНАК</h4>
      <br>
      <br>
      1.1 Все права защищены. Пользователь принимает и соглашается с тем, что все права, титулы и интересы, любые и все права интеллектуальной собственности всех видов, включая, помимо прочего, патенты, авторские права, товарные знаки, базы данных прав, а также личные неимущественные права, ноу-хау и коммерческая тайна, любой код или программное обеспечение (SDK, API и т. д.), которые могут быть предоставлены пользователям или для использования по настоящему Соглашению, остаются исключительно в нашей собственности, собственности лицензиаров или партнеров.
      <br>
      <br>
      1.2 Торговые марки. Знаки, графика, значки, фирменный стиль, названия и логотипы, используемые или отображаемые на веб-сайте или через него, являются нашей собственностью или собственностью их владельцев. Пользователь не имеет права использовать метатеги или любую другую форму «скрытого текста», используя любой из вышеперечисленных товарных знаков, фирменного стиля и/или знаков обслуживания без нашего предварительного разрешения. Пользователь принимает и соглашается с тем, что он/она ни по какой причине не должен ставить под сомнение право собственности на знаки на сайте.
      <br>
      <br>
      1.3 Обратная связь. Пользователи не обязаны предоставлять поставщику услуг какие-либо идеи, предложения, комментарии или другие отзывы, связанные с веб-сайтом, услугами, бизнесом или операциями на сайте https://findetect.fvds.ru/. Если пользователь поделится идеями, предложениями, комментариями или другими отзывами с Поставщиком услуг — он будет иметь право на такую ​​идею, предложение, комментарий или отзыв. Настоящим пользователь заявляет, что Поставщик услуг передает все права пользователя на такую ​​идею, предложение или комментарии к *Общим* и соглашается с тем, что Поставщик услуг может свободно использовать и реализовывать их без ограничений или обязательств.
      <br>
      <br>
      <br>
    <h4>2. КОНТАКТЫ</h4>
      <br>
      Мы всегда готовы ответить по электронной почте swazat@mail.ru
  </p>
</section>

{% endblock %}